{% load static %}
{% block content %}
<!-- Navigation -->
  <nav class="navbar navbar-{{ mode }} fixed-top " id="mainNav">
    <div class="">
      <a class="navbar-brand " href="{% url 'home' %}">
        <div class="logo-container">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg  id="logo-svg"
                viewBox="0 0 750 750"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmln:space="preserve">
            <title>logo: romain boboe</title>
            <g stroke="none" stroke-width="1" stroke-linejoin="round" fill="none" fill-rule="evenodd">
              <g  id="path" class="logo"
                  opacity="0.7"
                  transform="translate(0.000000, 25.000000)"
                  stroke-width="50">
                  <polyline
                  id="path_r"
                  points="594 588 594 350 332 350 332 126 156 126 156 486 0 486"></polyline>
                  <polyline
                  id="path_b"
                  points="25 486 25.3586227 0 453 0 453 235 725 235 725 700 332 700"></polyline>
              </g>
            </g>
          </svg>
        </div>
      </a>
      <!--
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link {{ mode }} js-scroll-trigger" href=" {% url 'contact' %}"> <i class="fab fa-telegram-plane"></i></a>
          </li>
        </ul>
      </div>
    -->
    </div>
  </nav>
  {% endblock%}
