{% load static %}

{% block content %}
  <!-- About Section -->
  <section class="now-section text-left hide">
    <div class="container h-100 text-white-50">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h5>Last updated: August 15, 2017</h5>
           <div class="second-banner col-sd-12 col-md-6 col-lg-6 col-xl-6">

              <p>If my activities change, I’ll update this page.</p>
              <h6 class="inactive">Archive</h6>
              <hr>
              <p>This is a <strong>/now</strong> page inspired by Derek Sivers’ /now page movement. Check it out at <a href="http://www.nownownow.com">nownownow.com </a>.</p>
              <p>See my Now Now Now <a href="#">profile</a>.</p>
          </div>
        </div>
        <div class="page-container row page-row now-content">
        </div>
      </div>

    </div>
  </section>


  <section class="now-section text-left text-white-50">
    <div class="container ">
      <p>This is what i'm doing now (in order of time spent)</p>
    </div>
    <div class="container doing ">
      <ul >
        <li>Diving deep into python and django programming</li>
        <li>Creating an open source community around architecture and design to help find and share components and codes to inspire others.</li>
        <li>writing an article about Architecture and AI and an other on the reasons why i quit architecture to learn programming</li>
        <li>Working on a SAS plateform project</li>
        <li>Reading some books about parametric design and complexe geometry algorithm</li>
        <li>Developping a new workout routin to get in my best shape</li>
        <li>Trying to enjoy my life in montreal and meet interesting people. If u know any cool place, i'll love to hear about it</li>
      </ul>

      <p>reading</p>
      <ul>
        <li>Attendre l'excellence by Robert Greene</li>
        <li>The Power of Habit: Why We Do What We Do in Life and Business</li>
        <li>Bonheur de la méditation (Yongey Mingyour Rinpotché)</li>
      </ul>
    </div>

</section>

{% endblock %}
